<!doctype html>
<html lang="en">
    <head>
        <title>SA Fire History</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!-- Leaflet CSS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
        <!-- custom css -->
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <!-- <div id="app" class="container-fluid mx-0 px-0"> -->
        <div id="app" class="container-fluid">
            <!-- The rest of the app goes here -->
            <div class="row">
                <div v-if="workingUI" class="progress px-0 mx-0" style="position: absolute; top: 0px; z-index: 3; width: 100%">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
                </div>
                <div class="col pl-0">
                    <div id="map" class="map" style="z-index: 2; height: 100vh"></div>
                </div>
                <div class="col-2">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
                    </div>
                    <h1>Type</h1>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="prescribed-burn-filter" v-model="showPrescribedBurns">
                        <label class="custom-control-label" for="prescribed-burn-filter">Prescribed Burns</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="bushfire-filter" v-model="showBushfires">
                        <label class="custom-control-label" for="bushfire-filter">Bushfires</label>
                    </div>
                    <h1>Season</h1>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="summer-filter" v-model="showSummer">
                        <label class="custom-control-label" for="summer-filter">Summer</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="autumn-filter" v-model="showAutumn">
                        <label class="custom-control-label" for="autumn-filter">Autumn</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="winter-filter" v-model="showWinter">
                        <label class="custom-control-label" for="winter-filter">Winter</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="spring-filter" v-model="showSpring">
                        <label class="custom-control-label" for="spring-filter">Spring</label>
                    </div>
                    <h1>Decade</h1>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="1950s-filter" v-model="show1950s">
                        <label class="custom-control-label" for="1950s-filter">1950s</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="1960s-filter" v-model="show1960s">
                        <label class="custom-control-label" for="1960s-filter">1960s</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="1970s-filter" v-model="show1970s">
                        <label class="custom-control-label" for="1970s-filter">1970s</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="1980s-filter" v-model="show1980s">
                        <label class="custom-control-label" for="1980s-filter">1980s</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="1990s-filter" v-model="show1990s">
                        <label class="custom-control-label" for="1990s-filter">1990s</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="2000s-filter" v-model="show2000s">
                        <label class="custom-control-label" for="2000s-filter">2000s</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="2010s-filter" v-model="show2010s">
                        <label class="custom-control-label" for="2010s-filter">2010s</label>
                    </div>
                </div>
            </div>
        </div>

        <!-- boostrap js -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <!--
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <!-- vue js -->
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <!-- production version, optimized for size and speed -->
        <!--
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        -->

        <!-- leaflet js -->
        <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>

        <!-- custom js -->
        <script src="app.js"></script>
    </body>
</html>
